﻿<!--h1>Aanmeldingen</h1-->
<!--a routerLink="add" class="btn btn-sm btn-success mb-2">Aanmelden</a-->


<div *ngFor="let item of list">

    <h3 style="margin-top:30px">{{item.SessionName}}</h3>
    <small>Maximum aantal deelnemers:{{item.MaxSubscribers}}</small>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 5%">Nr</th>
                <th style="width: 85%">Naam</th>
                <th style="width: 10%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let subscription of item.subscriptions; let i = index">
                <td>{{i+1}}</td>
                <td>{{subscription.AccountName}}</td>
                <td style="white-space: nowrap">
                    <button *ngIf="subscription.isSubscribed && subscription.isEnabled" (click)="deleteSubscription(subscription.SessionAccountPk)" class="btn btn-sm btn-danger btn-delete-subscription" [disabled]="!subscription.isEnabled">
                        <span >Afmelden</span>
                    </button>              
                    <button *ngIf="!subscription.isSubscribed && subscription.isEnabled" (click)="addSubscription(subscription)" class="btn btn-sm btn-success btn-success-subscription" [disabled]="!subscription.isEnabled">
                        <span>Aanmelden</span>
                    </button>              
                </td>
            </tr>
            <tr *ngIf="!subscriptions">
                <td colspan="4" class="text-center">
                    <span class="spinner-border spinner-border-lg align-center">Geen training beschikbaar</span>
                </td>
            </tr>
        </tbody>
    </table>
</div>