﻿<!--h1 *ngIf="isAddMode">Add User</h1-->
<h1 *ngIf="!isAddMode">Wijzig oefening</h1>


<div class="form-row">
    <div class="form-group col">
        <button class="btn btn-outline-primary mr-2" (click)="open(mymodal)">Wijzig tags</button>
        <ng-container *ngFor="let tag of this.allTags; let i = index">
            <button class="btn btn-info mr-1" *ngIf="active">{{tag.TagName}}</button>
        </ng-container>
    </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col">
            <ng-container *ngFor="let t of this.allTags">
                <button class="btn btn-info mr-1" *ngIf="t.active">{{t.TagName}}</button>
            </ng-container>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <input type="text" placeholder="titel" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
            <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                <div *ngIf="f.title.errors.required">Naam is required</div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <editor [init]="{plugins: 'link'}" [formControl]="form.controls.description" apiKey="im6q29vqolaxn0c4vq6ifog28s5cwipc12a17i1snqh0sbqt">
            </editor>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col">
            <label>Youtube ID</label><input (change)="setYoutubeUrl(form.controls.videoUrl.value)" type="text" formControlName="videoUrl" class="form-control" />
        </div>
    </div>
    <div *ngIf="hasYoutubeUrl" class="video-container">
        <iframe width="560" height="315" [src]="youtubeUrl"  frameborder="0" allowfullscreen></iframe>
    </div>

    
    <div class="form-row">&nbsp;</div>

    <div class="form-row">
        <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Opslaan
        </button>
        <a routerLink="/drills" class="btn btn-link">Cancel</a>
        </div>
    </div>
</form>
<ng-template #mymodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Tags</h4>
  
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-switch custom-control custom-switch" *ngFor="let tag of allTags; let i = index">
      <input type="checkbox" [checked]="tag.active"
        class="custom-control-input" id="customSwitches{{i}}" (click)="toggleTag(i)">
      <label class="custom-control-label" for="customSwitches{{i}}">{{tag.TagName}}</label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Sluiten</button>
    </div>
  </ng-template>