﻿<!-- Button trigger modal -->
<div>
  <a *ngIf="this.drillService.adminMode" routerLink="edit/0" class="btn btn-primary mr-1">Nieuw oefening</a>
  <button class="btn btn-outline-primary" (click)="open(mymodal)" *ngIf="filterActive">Filter</button>
  <ng-container *ngFor="let tag of tags; let i = index">
    <button class="btn btn-info" (click)="toggleTag(i)" *ngIf="filterActive && tag.active">{{tag.TagName}}</button>
  </ng-container>
  <br>
  <small>{{drillsFound}} oefeningen gevonden</small>
  <br>
  <div class="input-group">

    <input class="form-control" *ngIf="filterActive" type="text" [(ngModel)]="searchText" placeholder="zoek een oefening" (input)="searchDrill()">
    <button type="button" (click)="clearSearch()" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;margin-top: 5px;">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>



<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Tag filter</h4>

    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-switch custom-control custom-switch" *ngFor="let tag of tags; let i = index">
    <input type="checkbox" [checked]="tag.active"
      class="custom-control-input" id="customSwitches{{i}}" (click)="toggleTag(i)">
    <label class="custom-control-label" for="customSwitches{{i}}">{{tag.TagName}}</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Sluiten</button>
  </div>
</ng-template>

<div id="accordion" *ngIf="drillService.drills.length>0">
  <ng-container *ngFor="let drill of drillService.drills; let i = index">
    <div class="card" *ngIf="drill.includesTag && drill.includesText">
      <div class="card-header" id="headingOne{{i}}">
          <h4 class="mb-2">
            {{drill.title}}
          </h4>
        <div class="float-left">

          <ul class="list-group list-group-horizontal-sm">
            <li *ngFor="let tag of drill.tags" class="list-group-item small">{{tag}}</li>
          </ul>   
        </div>
        <div class="float-right">
          <button *ngIf="drill.hasVideo" (click)="toggleVideo(drill)" class="btn btn-sm btn-outline-primary">
            <span>{{drill.showVideo === true ? "Verberg video" : "Toon video"}}</span>
          </button> 
          <a *ngIf="this.drillService.adminMode" routerLink="edit/{{drill.id}}" class="btn btn-sm btn-primary mr-1">Wijzig</a>
          <button *ngIf="this.drillService.adminMode" (click)="deleteDrill(i)" class="btn btn-sm btn-primary mr-1">Verwijder</button>
        </div>             
      </div>
      <div *ngIf="drill.showVideo" class="video-container">
        <iframe width="560" height="315" [src]="drillService.getYoutubeUrl(drill.videoUrl)" frameborder="0" allowfullscreen></iframe>
      </div>
      <div id="collapseOne{{i}}" class="collapse show" aria-labelledby="headingOne{{i}}" data-parent="#accordion">
        <div class="card-body" [innerHTML]="drill.description">
        </div>
      </div>      
    </div>
  </ng-container>
</div>
<div id="accordion" *ngIf="drillService.drills.length==0">Laden...</div>