﻿<div class="container m-4">
    <img class="card-img-top" src="/assets/header-web.jpg">    

    <div class="card bg-faded">
        <div class="card-body">
            <h4>Hallo {{user.name}},</h4>
            <p>Je bent ingelogd.</p>
            
            <hr class="my-4">
            <button class="btn btn-primary pm-2 mr-2" (click)="logout()" role="button">Uitloggen</button>
            <a class="btn btn-primary md-2" routerLink="/users/edit/{{user.id}}" role="button">Mijn gegevens</a>
        
        </div>
    </div>
</div>

<div class="container m-4">

    <div class="card bg-faded">
        <div class="card-body">
    
            <h4>Trainingen</h4>
            <p>Maximum aantal deelnemers per training: {{environment.maxSubscriptions}}</p>
            <hr class="my-4">
            <p>Klik op <strong>Trainingen</strong> om je aan of af te melden voor een training van AV Goor</p>
            <p class="lead">
                <a class="btn btn-primary" routerLink="/subscriptions" role="button">Trainingen</a>
            </p>
        
        </div>
    </div>
</div>