﻿<div class="card">
    <h4 class="card-header">Registreer</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">Naam</label>
                <input type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Naam is verplicht</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">E-mail is verplicht</div>
                </div>
            </div>

            <div class="form-group">
                <label for="rungroup">Loopgroep</label>
                <select formControlName="rungroup" class="custom-select"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rungroup.errors }">
                <option value="" selected>Kies je loopgroep</option>
                <option value="{{runGroup.RungroupPk}}" *ngFor="let runGroup of runGroups">{{runGroup.RungroupName}}</option>
              </select>
              <div *ngIf="submitted && f.rungroup.errors" class="invalid-feedback">
                <div *ngIf="f.rungroup.errors.required">Loopgroep is verplicht</div>
            </div>              
            </div>
            <div class="form-group">
                <label for="password">Wachtwoord</label>
                <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Wachtwoord is verplicht</div>
                    <div *ngIf="f.password.errors.minlength">Wachtwoorrd moet minimaal 6 karakters lang zijn</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Registreer
                </button>
                <a routerLink="../login" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>